<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API</title>
</head>
<body>

<h1>开发日志：</h1>
<hr>

<ul>
    <li>
        <a>2020/01/17 15:50:00</a>
    </li>
    <li>
        <a>网站架构 cartoon</a><br>
        <a>优化了网站的架构</a><br>
        <a>实装了漫画连载的功能</a>
    </li>
</ul>
<hr>

<ul>
    <li>
        <a>2020/01/15 13:34:00</a>
    </li>
    <li>
        <a>主页</a><br>
        <a>昨天那个太丑了 换了个新的</a><br>
    </li>
</ul>
<hr>

<ul>
    <li>
        <a>2020/01/14 17:05:00</a>
    </li>
    <li>
        <a>主页</a><br>
        <a>终于换了主页 虽然非常难看 前端水平较为辣鸡 以后会继续进行改善</a><br>
        <a>为api接入写了新的页面 不在和主页混在一起</a>
    </li>
</ul>
<hr>

<ul>
    <li>
        <a>2020/01/10 21:55:00</a>
    </li>
    <li>
        <a>PlayVideo 1.21</a><br>
        <a>修复了一旦电视剧集数过长无法显示超长内容的bug</a>
    </li>
</ul>
<hr>

<ul>
    <li>
        <a>2020/01/09 20:38:00</a>
    </li>
    <li>
        <a>PlayVideo 1.2</a><br>
        <a>适配了所有的浏览器（应该）全屏播放</a>
    </li>
</ul>
<hr>

<ul>
    <li>
        <a>2020/01/06 16:48:35</a>
    </li>
    <li>
        <a>PlayVideo 1.1</a><br>
        <a>实现了为电视剧分集播放的功能，并修复了一些bug</a>
    </li>
</ul>
<hr>

<ul>
    <li>
        <a>2019/12/31 1:04:00</a>
    </li>
    <li>
        <a>PlayVideo 1.0正式发布</a><br>
        <a>只实现了主要功能，除谷歌浏览器外无法全屏播放，无法为电视剧分集播放</a>
    </li>
</ul>
<hr>

</body>
</html>