<!DOCTYPE html>

<script src="https://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<link href="https://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="https://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link href="http://39.105.204.201/static/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>

<!--<script>-->
<!--    alert('接口出现问题 网站影视漫画小说功能暂时崩溃 请耐心等待修复')-->
<!--</script>-->

<div class="container">

    <div class="top">
        <div class="top_a">
            <h1 class="top_a_h1">
                <a>
                    <span>
                        AKA
                    </span>
                </a>
            </h1>
        </div>
        <div class="top_a">
            <div class="top_a_on">
                <nav class="top_a_on_nav">
                    <ul>
                        <a class="top_a_on_nav_ul_a" href="/">Home</a>
                        <a class="top_a_on_nav_ul_a" href="/video">PlayVideo</a>
                        <a class="top_a_on_nav_ul_a" href="/cartoon">Cartoon</a>
                        <a class="top_a_on_nav_ul_a" href="/fiction">Fiction</a>
                        <a class="top_a_on_nav_ul_a" href="/api">API_INDEX</a>
                        <a class="top_a_on_nav_ul_a" href="/Development_log">Development_log</a>
                    </ul>
                </nav>
            </div>
        </div>
<!--        <div class="top_a"></div>-->
    </div>

    <div class="middle">
        <div class="middle_container">
            <div class="middle_left">
                <div class="middle_left_inside">
                    <h2 class="middle_left_inside_title">
                        <p>
                            Thank you
                            <br>
                            <span>for your visit</span>
                        </p>
                    </h2>
                    <p class="middle_left_inside_middle_a">
                        感谢您的访问 本人学习开发技术时间较短 网站多有瑕疵
                        <br>
                        请多多包含 以后会一直优化下去
                        <br>
                        数据均来源于网络，并不参与存储、上传、创作，版权争议与本站无关
                        <br>
                        仅学习交流使用，请勿用于商业（非法）用途！否则，一切后果请自行承担！
                    </p>
                    <div class="middle_left_inside_bottom">
                        <a href="/api/message">意见反馈</a>
                    </div>
                </div>
            </div>
            <div class="middle_right">
                <img class="middle_right_img" src="http://39.105.204.201/static/images/banner.png">
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="bottom_container">
            <div class="bottom_container_neibu">
                <div class="bottom_container_inside">
                    <div class="bottom_container_inside_in">
                        <div class="bottom_container_inside_in_context">
                            <img class="bottom_container_inside_in_context_img" src="http://39.105.204.201/static/images/play.png">
                        </div>
                        <div class="bottom_container_inside_in_title">
                            <h3>电影播放</h3>
                        </div>
                        <div class="bottom_container_inside_in_p">
                            <p>仅供学习交流使用</p>
                        </div>
                        <div class="bottom_container_inside_in_a">
                            <a href="/video">前往</a>
                        </div>
                    </div>
                </div>
                <div class="bottom_container_inside">
                    <div class="bottom_container_inside_in">
                        <div class="bottom_container_inside_in_context">
                            <img class="bottom_container_inside_in_context_img" src="http://39.105.204.201/static/images/editor.png">
                        </div>
                        <div class="bottom_container_inside_in_title">
                            <h3>漫画观看</h3>
                        </div>
                        <div class="bottom_container_inside_in_p">
                            <p>仅供学习交流使用</p>
                        </div>
                        <div class="bottom_container_inside_in_a">
                            <a href="/cartoon">前往</a>
                        </div>
                    </div>
                </div>
                <div class="bottom_container_inside">
                    <div class="bottom_container_inside_in">
                        <div class="bottom_container_inside_in_context">
                            <img class="bottom_container_inside_in_context_img" src="http://39.105.204.201/static/images/copy.png">
                        </div>
                        <div class="bottom_container_inside_in_title">
                            <h3>小说阅读</h3>
                        </div>
                        <div class="bottom_container_inside_in_p">
                            <p>仅供学习交流使用</p>
                        </div>
                        <div class="bottom_container_inside_in_a">
                            <a href="/fiction">前往</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>