<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://39.105.204.201/static/css/style.css" rel="stylesheet" type="text/css" media="all">
    <style>
        * {
            margin:0;
            padding: 0;
        }
    </style>
</head>
<body>

<div class="frq">

    <!--top-->
    <div class="tops">
        <img class="index_img" src="http://39.105.204.201/static/images/top2.jpg"/>
    </div>
    <!--top-->


    <!--down-->
    <div class="down">
        <div class="down_nb" align="center">
            <div class="down_daoxiang">
                <a href="/api/search_form">电影播放</a>
            </div>
            <div class="down_daoxiang">
                <a href="/api">api对接文档</a>
            </div>
            <div class="down_daoxiang">
                <a href="/api/Development_log">开发日志</a>
            </div>
        </div>
    </div>
    <!--dowm-->

</div>



</body>
</html>